# ==========================
# Jupyter Notebooks
# ==========================

# Strip metadata on commit (keep code + output, remove useless metadata)
*.ipynb filter=nbstripout

# Avoid merge conflicts on notebooks
*.ipynb merge=ours

# Ignore notebook diffs (metadata noisy), treat notebooks as binary
*.ipynb diff=none

# ==========================
# Common binary/big files
# ==========================
*.png binary
*.jpg binary
*.jpeg binary
*.csv text eol=lf
*.docx binary
*.pdf binary